body{
	margin:0px;
}



header{
	padding-top:20px;
	width:100%;
	height:50px;
	background-color: orange;

} 

header ul{
	margin:0px;
}

header li {
	float: left;
	margin-left: 120px;
	display: inline;
}
header p{
	font-size:50px;
	margin:0px;
	text-align:center;
	color:black;
	font-style: italic;
}

.wrapper1{
	height: 300px;
	width: 100%;


}
.nav {
	height: 100%;
}
nav{
	width:10%;
	height:100%;
	background-color:red;
	float:right;
}

.bild{
	background-image: url("fredrik.jpg");
	position: relative;
	float:left;
	height: 100%;
	width: 20%;
	background-size: 100% 100%
}

.valfri{
	background-color: yellow;
	height:100%;
	width:70%;
	float:left;

}

.wrapper2{
	height: 300px;
	width: 100%;
}

.venster{
	background-color: green;
	float: left;
	height: 100%;
	width: 10%;
}
.ner{
	background-color: gray;
	float left;
	height: 50%;
}
.upp{

	background-image: url("hej.jpg");
	float left;
	height: 50%;


}
.ner p {
	margin: 0;
	text-align: center;
	padding-top: 50px;
}




